@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    margin-top: 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid #E0752F;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    text-decoration-line: underline;
}

.main-header {
    background-image: url(/assets/images/slider-1.png);
    background-size: cover;
    padding-bottom: 100px;
}